/* rubik-burned-regular - latin */
@font-face {
    font-family: 'Rubik Burned';
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-burned-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    color: cyan;
}
header {
    background-color: blueviolet;
    color: ghostwhite;
    padding: 10px 15px;
    margin: 1.5% 2%;
    border: 12px solid chartreuse;
    border-bottom-color: forestgreen;
    font-size: 2em;
}
header .logo {
    font-size: 50px;
}
header .logo img {
    float: left;
    border: 2px dashed chartreuse;
    padding: 5px;
    margin-right: 50px;
    box-shadow: 4px 4px 10px chartreuse;
}
body {
    background-color: black;
    background-image: url('../image/football.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 25%;
    max-width: 50%;
    margin: auto;
    padding-bottom: 200px;
}
a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: gold;
}
h1, h1 + p
{
    text-align: center;
    color: chartreuse;
}
h2 {
    color: greenyellow;
}

