* {
    color: cyan;
}
header {
    background-color: blueviolet;
    color: ghostwhite;
    padding: 10px 15px;
    margin: 1.5% 2%;
    border: 12px solid chartreuse;
    border-bottom-color: forestgreen;
    font-size: 2em;
}
body {
    background-color: black;
    background-size: 800px;
    max-width: 50%;
    margin: auto;
    padding-bottom: 200px;
}


